@charset "utf-8";

@media screen and (max-width: 550px) {
  nav h1 {
    font-size: 1.75em;
    letter-spacing: 0.15em;
  }

  .filter-options select {
    padding-right: 0;
    width: 190px;
  }

  #restaurants-list li {
    background-color: #fff;
    width: calc(100% - 40px);
  	border-radius: 30px 0;
    margin: 20px;
  }

  #restaurants-list p {
  	font-size: 1.25em;
  }

  #restaurants-list li h2 {
    font-size: 1.4em;
  }

  #breadcrumb {
    padding: 16px 20px;
    font-size: 1.15em;
    width: calc(100% - 40px);
  }

  .inside #map-container,
  .inside #map-container #map {
    height: 300px;
  }

  #restaurant-info {
  	width: 100%;
  	display: block;
  }

  #restaurant-name {
    font-size: 1.75em;
    text-align: center;
    margin-top: 10px;
  }

  #restaurant-address {
    font-size: 1.25em;
  }

  #restaurant-hours {
  	width: 100%;
  	display: block;
  	margin: 0;
  }

  #restaurant-hours td {
  	padding: 5px 10px;
  	font-size: 1.15em;
  }

  #reviews-list {
  	font-size: 1.15em;
  }

  #reviews-list li {
    padding-bottom: 20px;
  }

  #reviews-list li p {
    margin: 20px 20px 0;
  }

  #reviews-list li .review-top p:first-child {
  	font-size: 1.25em;
  }

  #reviews-list li .review-top p:nth-child(2) {
  	margin-top: 5px;
  }

}

@media screen and (min-width: 750px) {
  #footer {
    font-size: 1em;
    letter-spacing: 0.2em;
    padding: 30px;
  }

  #restaurants-list li {
    margin: 20px;
  	width: calc(50% - 40px);
    display: inline-block;
  }

  #restaurants-list li h2 {
    font-size: 1.5em;
  }

  #restaurants-list p {
    margin: 0;
  	font-size: 1.25em;

  }

  #reviews-list li p {
    margin: 30px 50px 0;
  }
}

@media screen and (min-width: 950px) {
  body {
    width: 950px;
    margin: auto;
  }
}
