@charset "utf-8";

@media screen and (min-width: 500px) {
  nav h1 {
    letter-spacing: 0.2em;
  }

/* ====================== Main Page ====================== */
  .filter-options select {
    font-size: 1.25em;
    width: 200px;
  }

  #restaurants-list li {
  	width: calc(50% - 30px);
  	display: inline-block;
    margin: 15px;
  }

  #restaurants-list li .restaurant-info {
  	height: 120px;
  }

  #restaurants-list li h2 {
    font-size: 1.35em;
  }

  #restaurants-list p {
  	font-size: 1.15em;
  }

/* ====================== Restaurant Details Page ====================== */
  #restaurant-name {
    font-size: 2em;
  }

  #reviews-list {
  	font-size: 1.25em;
  }

  #reviews-list li .review-top p:first-child {
  	font-size: 1.5em;
  }

  #reviews-list li .review-top p:nth-child(2) {
  	font-size: 1.15em;
  }
}

@media screen and (min-width: 600px) {
  /* ====================== Restaurant Details Page ====================== */
  #restaurant-info {
  	width: calc(40% - 15px);
  	display: inline-block;
  }

  #restaurant-address {
    font-size: 1.25em;
  }

  #restaurant-hours {
  	width: calc(60% - 15px);
  	display: inline-block;
  	margin-left: 20px;
  }
}


@media screen and (min-width: 750px) {
  nav h1 {
    font-size: 2.25em;
  }

/* ====================== Main Page ====================== */
  #restaurants-list {
    margin: 0;
    padding: 10px;
  }

  #restaurants-list li {
    width: calc(33% - 20px);
    margin: 10px;

  }

  #restaurants-list li h2 {
    font-size: 1.25em;
  	margin: 0 0 10px;
  }

  #restaurants-list p {
    margin: 0;
  	font-size: 1.15em;

  }

  #restaurants-list li a {
    margin: 20px;
    padding: 10px 20px;
  }

  #footer {
    font-size: 1em;
  }
}

@media screen and (min-width: 850px) {
  #map, #map .map-img {
    height: 400px;
  }

  #breadcrumb li {
  		font-size: 1.75em;
  }

}

@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin: auto;
  }

}
