@charset "utf-8";
/* CSS Document */

/* ====================== Pagewide stuff ====================== */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: #444;
	background-color: #f6f6f6;
	margin: 0;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

/* Not sure why I had to have this much specificity, but didn't work without it.  */
a:hover,
a:focus,
#footer a:hover,
#footer a:focus,
#restaurants-list li a:hover,
#restaurants-list li a:focus,
#breadcrumb li a:hover,
#breadcrumb li a:focus {
	color: #ff0044;
}

/* ======================== Header stuff ======================== */

/* ====================== Main Navigation ====================== */
nav {
  width: 100%;
	background-color: #eee;
}

nav h1 {
  margin: auto;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.25em;
  text-transform: uppercase;
	background-color: #222;
	padding: 50px 0;
	text-align: center;
}

nav h1 a {
		color: #fff;
}

.skip-link {
	position:absolute;
	left:-1000px;
}

/* ====================== Breadcrumb Navigation ====================== */
#breadcrumb {
    padding: 16px 40px;
    margin: 0;
    width: calc(100% - 80px);
}

#breadcrumb ul {
	  list-style: none;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
		font-size: 1.5em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
		font-size: 0.75em;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    text-decoration: underline;
}

/* ====================== Main Content ====================== */

/* ========================== Map ========================== */
#map {
  height: 400px;
  width: 100%;
}

#map .map-img {
	height: 400px;
  max-width: 100%;
	vertical-align: middle;
	object-fit: cover;
}

/* ====================== Filter Results ====================== */
.filter-options {
  width: 100%;
  background-color: #33c;
}

.filter-options h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 20px;
	padding-top: 10px;
}

.filter-options select {
  background-color: #fff;
	color: inherit;
  font-size: 1.15em;
  margin: 10px 0 10px 10px;
  padding: 10px;
  width: 220px;
}

/* ====================== Restaurant List ====================== */
#restaurants-list {
  list-style: outside none none;
  margin: 0;
  padding: 20px;
}

#restaurants-list li {
  background-color: #fff;
	width: calc(50% - 30px);
	display: inline-block;
	border-radius: 30px 0;
  margin: 15px;
}

#restaurants-list .restaurant-img {
	border-top-left-radius: 30px;
  width: 100%;
}

#restaurants-list li .restaurant-info {
	height: 120px;
	margin: 20px;
}

#restaurants-list li h2 {
  color: #33c;
  font-size: 1.35em;
  font-weight: 100;
	line-height: 1.25;
	margin: 0 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
	font-size: 1.15em;

}

#restaurants-list li a {
  background-color: #33c;
  color: #fff;
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Restaurant Details Page ====================== */
#main-content {
	background-color: #eee;
}

.inside #map-container {
  height: 400px;
}

#restaurant-container,
#reviews-container {
	padding: 30px;
}

/* ==================== Restaurant Info Section ==================== */
#restaurant-info {
	width: calc(40% - 15px);
	display: inline-block;
	vertical-align: top;
}

#restaurant-name {
  color: #33c;
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#restaurant-img {
	border-top-left-radius: 30px;
	width: 100%;
}

#restaurant-cuisine {
  background-color: #333;
  color: #bbb;
  font-size: 1.5em;
  letter-spacing: 0.25em;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-address {
  font-size: 1.5em;
  margin: 10px 0px;
}

#restaurant-hours {
	width: calc(60% - 15px);
	display: inline-block;
	border-spacing: 0;
	margin-left: 20px;
}

#restaurant-hours tr:nth-child(odd) {
	background-color: #fff;
}

#restaurant-hours td {
  color: #555;
	font-size: 1.15em;
	padding: 8px;
}

/* ====================== Reviews Section ====================== */
#reviews-list {
  margin: 0;
  padding: 0;
	font-size: 1.25em;
}

#reviews-list li {
	background-color: #fff;
	border-radius: 30px 0;
  list-style-type: none;
  margin: 0 0 40px;
	padding-bottom: 30px;
}

#reviews-list li p {
  margin: 30px 30px 0;
}

#reviews-list li div+p {
	background-color: #33c;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#reviews-list li .review-top {
	border-top-left-radius: 30px;
	background-color: #333;
	padding: 20px 0;
}

#reviews-list li .review-top p:first-child {
	display: inline;
	color: #fff;
	font-size: 1.5em;
	font-weight: 100;
}

#reviews-list li .review-top p:nth-child(2) {
	display: inline;
	float: right;
	margin-top: 10px;
	color: #ccc;
}

/* ====================== Footer ====================== */
#footer {
  background-color: #444;
  color: #bbb;
  font-size: 0.75em;
  letter-spacing: 0.15em;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
	color: #fff;
}
